.goko-navbar{
	/* background:rgb(116,196,35); */
	background:rgb(34, 93, 163);	
	color:#fff;
	font-family: "Open Sans", Helvetica, Arial, sans-serif ;
	font-size: 13px;
	line-height: 1.5;
}
.goko-navbar a{
	text-decoration:none;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;	
}
#goko-navbar .container{
	width: 1000px;
}
.article{
	margin-top:52px;
}

#goko-navbar .navbar-nav > li > a{
	text-decoration:none;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	line-height: 20px;
	color: #a7beda;
}

#goko-navbar .navbar-nav > li > a:hover{	
	color: #a7beda;
}

.navbar-brand{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color:#fff !important;
	text-decoration: none;
	padding-left: 32px;
	background: url('http://docs.goko.fr/_media/wiki:logo.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: left center;
}


